"*":
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "e6909a34-b9c6-2180-981c-0d3f14eb429f"
  "highlight-selected": {}
  linter:
    errorPanelHeight: 64
  welcome:
    showOnStartup: false
